@using Dotnet_Project.Models.ViewModels;
@model ProfileViewModel



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<div class="container profile-container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow left-profile soft-border ps-0 pe-1 ">
                <h2 class="bg-dark-blue-color edit-img light-color"><i class="bi bi-camera "></i></h2>
				<img class="profile-img" src="~/Images/@Model.loggedInPlayer.PhotoPath" alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">@Model.loggedInPlayer.Name <br /> @Model.loggedInPlayer.Surname</h3>
                        <span class="pt-2 skyblue-color">CF</span>
                    </div>
                    <ul class="list-unstyled mb-4 profile-details">
                        <li class="mb-3"><a class="light-color" href="#!" style="display: flex;"><i class="far fa-envelope display-25 me-3 light-color" style="margin-top: 3px;"></i><div>@Model.loggedInPlayer.Email</div></a></li>
                        <li class="mb-3"><a class="light-color" href="#!" style="display: flex;"><i class="fas fa-mobile-alt display-25 me-3 light-color" style="padding-left: 3px;margin-top: 3px;"></i>+216 @Model.loggedInPlayer.PhoneNumber</a></li>
                        <li><a class="light-color" href="#!" style="display: flex;"><i class="fas fa-map-marker-alt display-25 me-3 light-color" style="padding-left: 2px;margin-top: 3px;"></i>@Model.loggedInPlayer.Adress</a></li>
                    </ul>
                    <h3 class="edit-inf"><i class="bi bi-pencil-fill"></i></h3>
                </div>

			</div>
            <div class="shadow bg-dark-blue-color soft-border ">
                <div class="light-color" style="height: 10px;margin-top: 10px;padding-block: 10px;display: flex;justify-content: space-evenly;">
                    <span>Wins</span><span>Draws</span><span>Losses</span>
                </div>
                <div class="pie-container">
                    @{
                        float x, y, z;
                        if ((Model.loggedInPlayer.number_draws + Model.loggedInPlayer.number_losses + Model.loggedInPlayer.number_wins) == 0)
                        {
                            x = 0; y = 0; z = 0;
                        }
                        else
                        {
                            x = 100 * Model.loggedInPlayer.number_wins / (Model.loggedInPlayer.number_draws + Model.loggedInPlayer.number_losses + Model.loggedInPlayer.number_wins);
                            y = 100 * Model.loggedInPlayer.number_draws / (Model.loggedInPlayer.number_draws + Model.loggedInPlayer.number_losses + Model.loggedInPlayer.number_wins);
                            z = 100 * Model.loggedInPlayer.number_losses / (Model.loggedInPlayer.number_draws + Model.loggedInPlayer.number_losses + Model.loggedInPlayer.number_wins);
                        }
                    }
                    <div class="pie no-round light-color" style="--p:@x;--c:green;--b:15px"> @Model.loggedInPlayer.number_wins</div>
                    <div class="pie no-round light-color" style="--p:@y;--c:orange;--b:15px"> @Model.loggedInPlayer.number_draws</div>
                    <div class="pie no-round light-color" style="--p:@z;--c:red;--b:15px"> @Model.loggedInPlayer.number_losses</div>
				</div>
            </div>
        </div>
        <div class="col-lg-8 pe-0 ps-1">
            <div class="ps-lg-1-6 ps-xl-5 bg-lighter-color soft-border pe-5 pt-4 right-profile">
                <div class="mb-5 wow fadeIn" style="height:200px;">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="h1 mb-0 blue-color">
                            My Lobby :
                        </h2>
                        @if (Model.loggedInPlayer.LinkedLobby != null)
                        {
                            <table class="lobby-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Team 1</th>
                                        <th>Team 2</th>
                                        <th>Stadium</th>
                                        <th>Time</th>
                                        <th style="width: 104px">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.loggedInPlayer.LinkedLobby.Name</td>

                                        <td>
                                            <div style="display: grid;grid-template-rows: repeat(3, 1fr);grid-template-columns: repeat(2, 1fr);text-align: left !important;gap: 3px;padding: 2px;width: var(--column_three_width);">
                                                @for (int i = 0; i < Model.loggedInPlayer.LinkedLobby.Team1.Count(); i++)
                                                {
                                                   <h7>@Model.loggedInPlayer.LinkedLobby.Team1[i].Name</h7>
                                                }
                                                 
                                                @for(int j=Model.loggedInPlayer.LinkedLobby.Team1.Count(); j<6; j++)
                                                {
                                                    <h7>--------</h7>
                                                }
                                            </div>

                                        </td>
                                        <td>
                                            <div style="display: grid;grid-template-rows: repeat(3, 1fr);grid-template-columns: repeat(2, 1fr);text-align: left !important;gap: 3px;padding: 2px;width: var(--column_three_width);">
                                                @for (int i = 0; i < Model.loggedInPlayer.LinkedLobby.Team2.Count(); i++)
                                                {
                                                    <h7>@Model.loggedInPlayer.LinkedLobby.Team2[i].Name</h7>
                                                }

                                                @for (int j = Model.loggedInPlayer.LinkedLobby.Team2.Count(); j < 6; j++)
                                                {
                                                    <h7>--------</h7>
                                                }
                                            </div>
                                        </td>
                                        <td>@Model.loggedInPlayer.LinkedLobby.TimeSlot.stadium.Name</td>
                                        <td>@Model.loggedInPlayer.LinkedLobby.TimeSlot.get_match_time()</td>
                                        @if(!Model.loggedInPlayer.LinkedLobby.IsFull)
                                        {
                                            <td style="color:red;width: 88px;padding-left: 10px;">not enough players</td>
                                        }
                                        else
                                        {
                                            <td style="color:green;width: 88px;padding-left: 10px;">starting soon ...</td>
                                        }

                                    </tr>


                                </tbody>
                            </table>
                        }
                        else
                        {   <br />
                            <h4>You are not linked to any lobby</h4>
                        }
                           
                    </div>
                   </div>
                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 blue-color">My Games History :</h2>
                    </div>
                    @if (Model.lobbies.Count() == 0)
                    {
                        <h4>You still didn't have your first game with us</h4>
                    }
                    else
                    {   
                         <table class="history-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Team 1</th>
                                <th>Team 2</th>
                                <th>Stadium</th>
                                <th>Time</th>
                                <th style="width: 100px;">score</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (Lobby lobby in Model.lobbies)
                                {
                                    int check = 0;
                                    <tr>
                                        <td>@lobby.Name</td>

                                        <td>
                                            <div style="display: grid;grid-template-rows: repeat(3, 1fr);grid-template-columns: repeat(2, 1fr);text-align: left !important;gap: 3px;padding: 2px;width: var(--column_three_width);">
                                                @for (int i = 0; i < 6; i++)
                                                {
                                                    string playerid = lobby.playerids[i];
                                                    string playerName = Model.PlayerNames.GetValueOrDefault(playerid);
                                                    if (playerid == Model.loggedInPlayer.Id) check = 1;
                                                    <h7>@playerName</h7>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div style="display: grid;grid-template-rows: repeat(3, 1fr);grid-template-columns: repeat(2, 1fr);text-align: left !important;gap: 3px;padding: 2px;width: var(--column_three_width);">
                                                @for(int i= 6;i < 12;i++)    
                                                {
                                                    string playerid = lobby.playerids[i];
                                                    string playerName = Model.PlayerNames.GetValueOrDefault(playerid);
                                                    if (playerid == Model.loggedInPlayer.Id) check = 2;
                                                    <h7>@playerName</h7>
                                                }
                                            </div>
                                        </td>
                                        <td>@lobby.TimeSlot.stadium.Name</td>
                                        <td>@lobby.TimeSlot.get_match_time()</td>
                                        
                                        @if(Model.loggedInPlayer.Id == lobby.adminId && lobby.team1_score==null)
                                        {
                                            <td style="width: 88px;padding-left: 10px;">
                                                <!-- Bootstrap Modal for Add Match Score -->
                                                <div class="modal fade" id="addMatchScoreModal" tabindex="-1" role="dialog" aria-labelledby="addMatchScoreModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="addMatchScoreModalLabel">Add Match Score</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!-- Your form to add match score here -->
                                                                <!-- Example form, adjust as needed -->
                                                                <form method="post" asp-action="AddScore">
                                                                    <input type="hidden" id="lobbyId" name="lobbyId" value="@lobby.Id">
                                                                    <div class="mb-3">
                                                                        <label for="team1_score" class="form-label">Team 1 Score:</label>
                                                                        <input type="number" class="form-control" id="team1_score" name="team1_score" required>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="team2_score" class="form-label">Team 2 Score:</label>
                                                                        <input type="number" class="form-control" id="team2_score" name="team2_score" required>
                                                                    </div>
                                                                    <button type="submit" class="joinlobby-btn" style="bottom: 0!important;width: 50%!important;">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="joinlobby-btn" style="bottom: 0!important;margin-top:0!important;margin-bottom: 0!important;border-radius: 10px!important;height: 105px!important;" data-bs-toggle="modal" data-bs-target="#addMatchScoreModal">
                                                    Set Match Score
                                                </button>
                                            </td>
                                        }
                                        else
                                        {
                                            @if (((check == 1) && (lobby.team1_score > lobby.team2_score)) || ((check == 2) && (lobby.team1_score < lobby.team2_score)))
                                            {
                                                <td style="color:green;width: 88px;padding-left: 10px;">
                                                    @lobby.team1_score - @lobby.team2_score
                                                </td>
                                            }
                                            else if (@lobby.team1_score == @lobby.team2_score)
                                            {
                                                <td style="color:brown;width: 88px;padding-left: 10px;">
                                                    @lobby.team1_score - @lobby.team2_score
                                                </td>

                                            }
                                            else
                                            {
                                                <td style="color:red;width: 88px;padding-left: 10px;">
                                                    @lobby.team1_score - @lobby.team2_score
                                                </td>
                                            }
                                        }
                                    </tr>
                                    

                                }
                               
                            
                        </tbody>
                        </table>
                    }
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="line"></div>