@model ApplicationUser



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<div class="container profile-container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow left-profile soft-border ps-0 pe-1 ">
                <h2 class="bg-dark-blue-color edit-img light-color"><i class="bi bi-camera "></i></h2>
                <img class="profile-img" src="~/Images/@Model.PhotoPath" alt="...">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="h4 mb-0">@Model.Name @Model.Surname</h3>
                    </div>
                    <ul class="list-unstyled mb-4 profile-details">
                        <li class="mb-3"><a class="light-color" href="#!" style="display: flex;"><i class="far fa-envelope display-25 me-3 light-color" style="margin-top: 3px;"></i><div>@Model.Email</div></a></li>
                        <li class="mb-3"><a class="light-color" href="#!" style="display: flex;"><i class="fas fa-mobile-alt display-25 me-3 light-color" style="padding-left: 3px;margin-top: 3px;"></i>+216 @Model.PhoneNumber</a></li>
                        <li><a class="light-color" href="#!" style="display: flex;"><i class="fas fa-map-marker-alt display-25 me-3 light-color" style="padding-left: 2px;margin-top: 3px;"></i>@Model.Adress</a></li>
                    </ul>
                    <h3 class="edit-inf"><a asp-area="Identity" asp-page="/Account/Manage/Index"  class="bi bi-pencil-fill text-white"></a></h3>
                </div>

            </div>
            @if (Model.stade != null)
            {
                <div class="shadow bg-dark-blue-color light-color soft-border my-3 px-4 pt-2 pb-3">
                    <h2>Add Time Slot :</h2>
                <form class="" style="gap: 5px;" asp-action="AddTimeSlot" method="post">
                    <div class="form-group addslot-form" >
                        <div style="grid-column: span 2;">
					    	<label for="date">Pick a date :</label>
                            <input class="form-control" id="date" name="date" type="date" required />
				    	</div>
                       <div>
                           <label for="starttime">From :</label>
                            <input class="form-control" id="starttime" name="starttime" type="time" required />
				    	</div>
                        <div>
                          <label for="endtime">To :</label>
                            <input class="form-control" id="endtime" name="endtime" type="time" required />
                         </div>
					</div>
                    <button class="reserve-btn" style="width: 100% !important;">Add</button>
                </form>
                </div>
            }
        </div>
        @if (Model.stade != null)
        {
            <div class="col-lg-8 pe-0 ps-1">
                <div class="ps-lg-1-6 ps-xl-5 bg-lighter-color soft-border pe-5 pt-4 right-profile" style="height: 876px!important;">
                    <div class="mb-5 wow fadeIn" style="height:260px;">
                        <div class="text-start mb-1-6 wow fadeIn">
                            <h2 class="h1 mb-0 blue-color">
                                My Stadium :
                            </h2>

                            <div class="d-flex h-100 align-items-center" style="margin-block:10px;gap: 16px;">
                                <img class="stadium-img" src="~/Images/@Model.stade.PhotoPath" alt="...">
                                <div class="stadium-description dark-blue-color">
                                    <h1>@Model.stade.Name</h1>
                                    <h3>@Model.stade.Localisation</h3>
                                    <h5>@Model.stade.Description</h5>
                                    <h8>@Model.stade.prix TND  For @Model.stade.nbminutes minutes</h8>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="my-5 wow fadeIn">
                        <div class="text-start mt-1-6 wow fadeIn" style="display: flex;justify-content: space-between;">
                            <h2 class="mb-0 blue-color">My Time Slots :</h2>
                            <div style="width: 40%;display: flex;justify-content: flex-end;gap: 15px;">
                                <button id="showAvailable-btn" class="reserve-btn" style="width: 55%!important;">Show Available</button>
                                <button id="showAll-btn" class="reserve-btn" style="width: 35%!important;">Show All</button>
                            </div>

                        </div>
                        <table class="history-table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th style="width:130px;">Occupancy</th>
                                    <th style ="width:165px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody style="height: 410px!important;">
                                @foreach (Time_Slot t in Model.stade.Times.Where(t => (t.end_time >= DateTime.Now)))
                                {
                                    <tr>
                                        <td>@t.start_time.ToString("dd-MMM")</td>
                                        <td>@t.start_time.ToString("HH:mm")</td>
                                        <td>@t.end_time.ToString("HH:mm")</td>
                                        @if (t.occupancy)
                                        {
                                            <td style="width:130px;color:gray;">Occupied</td>
                                            <td style="width:165px;"><button disabled class="reserve-btn">Reserve</button></td>
                                        }
                                        else
                                        {
                                            <td style="width:130px;color: firebrick;" > Not occupied </td>
                                            <td style="width:165px;">
                                                <form asp-controller="Profile" asp-action="ReserveTimeSlot" method="post">
                                                    <input type="hidden" name="id" value="@t.Id" />
                                                    <button type="submit" class="reserve-btn">Reserve</button>
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                
            </div>
            </div>
        }
        else
        {
            <div class="col-lg-8 pe-0 ps-1">
                <div class="ps-lg-1-6 ps-xl-5 bg-lighter-color soft-border pe-5 pt-4 right-profile">
                    <div class="mb-5 wow fadeIn" style="height:50px;">
                        <div class="text-start mb-1-6 wow fadeIn">
                            <h2 class="h1 mb-0 blue-color">
                                My Stadium :
                            </h2>
                        </div>
                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div style="height: 72px;">
                                <input class=" form__input" id="Name" name="Name" type="text" required />
                                <label class="form__label dark-blue-color" for="Name">Stadium Name:</label>
                            </div>
                            <div style="height: 162px;margin-top: 5px;">

                                <textarea class="form__input" style="height: 127px!important;resize: none;" id="Description" name="Description" rows="3" required></textarea>
                                <label class="form__label dark-blue-color" style="top: -174px!important;" for="Description">Description:</label>
                            </div>
                            <div style="height: 72px;">

                                <input class="form__input" id="Localisation" name="Localisation" type="text" required />
                                <label class="form__label dark-blue-color" for="Localisation">Localisation:</label>
                            </div>
                            <div style="height: 72px;">

                                <input class="form__input" id="ExactLocalisation" name="ExactLocalisation" type="text" required />
                                <label class="form__label dark-blue-color" for="ExactLocalisation">Exact Localisation:</label>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="height: 72px;">

                                    <input class="form__input" id="Prix" name="Prix" type="number" required />
                                    <label class="form__label dark-blue-color" for="Prix">Price:</label>
                                </div>
                                <div class="form-group col-md-6" style="height: 72px;">

                                    <input class="form__input" id="NbMinutes" name="NbMinutes" type="number" required />
                                    <label class="form__label dark-blue-color" for="NbMinutes">Number of Minutes:</label>
                                </div>
                            </div>
                            <div class="form-row" style="height: 67px;border-bottom: 1px solid darkgray;">
                                <div class="form-group col-md-6" style="height: 72px;">

                                    <input class="form-control" style="width: 100%;border: 1px solid black;border-radius: 8px;box-shadow: rgb(6, 13, 24) 2px 2px 2px 1px;transition: all 100ms;" id="PhotoStade" name="PhotoStade" type="file" accept="image/*" required />
                                    <label class="form__label dark-blue-color" style="transform: scale(1.2);position: relative;text-align: left;top: -70px;color: var(--color1);font-weight: 500;" for="PhotoStade">Photo Path:</label>
                                </div>
                                <div class="form-group col-md-6" style="height: 72px;">

                                    <input class="form-control" style="width: 100%;border: 1px solid black;border-radius: 8px;box-shadow: rgb(6, 13, 24) 2px 2px 2px 1px;transition: all 100ms;" id="PhotoStade2" name="PhotoStade2" type="file" accept="image/*" required />
                                    <label class="form__label dark-blue-color" style="transform: scale(1.2);position: relative;text-align: left;top: -70px;color: var(--color1);font-weight: 500;" for="PhotoStade2">Second Photo Path:</label>
                                </div>
                            </div>
                            <button class="joinlobby-btn" style="bottom: 0!important;margin-top:40px!important;" type="submit">Create Stadium</button>
                        </form>


                    </div>
                </div>
                
            </div>
        }
    </div>
</div>

<div class="line"></div>