@model List<Stadium> 

@{
    ViewBag.Title = "Stadiums Index";
}

<h2>Stadiums List</h2>

<div class="container">
    @foreach (var stadium in Model)
    {
        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="@stadium.PhotoPath" class="card-img-top" alt="@stadium.Name"/>
            <div class="card-body">
                <h5 class="card-title">@stadium.Name</h5>
                <p class="card-text">@stadium.Description</p>
                <p class="card-text"><strong>Location:</strong> @stadium.Localisation</p>
            </div>
        </div>
    }
</div>
    