@using Dotnet_Project.Models.ViewModels;
@model JoinLobbyViewModel

<h2 class="light-color">Available Lobbies</h2>

@if (Model.lobbies.Any())
{
    <form method="post" action="@Url.Action("AvailableLobbies", "LobbyTeams")" >
        
            <table class="table light-color">
                <thead>
                    <tr>
                        <th>Lobby Name</th>
                        <th>Match Time</th>
                        <th>Stadium</th>
                        <th>Action</th>
                    </tr>
			</thead>
            @foreach (var lobby in Model.lobbies)
			{
                <tbody>
                    <tr>
                        <td>@lobby.Name</td>
                        <td>@lobby.TimeSlot.get_match_time()</td>
                        <td>@lobby.TimeSlot.stadium.Name</td>
                        <td>
                            <input type="hidden" name="lobbyId" value="@lobby.Id" />

                            <!-- Create hidden input fields for each playerId -->
                            @for (int i = 0; i < Model.playerids.Count; i++)
                            {
                                <input type="hidden" name="selectedPlayersIDs[@i]" value="@Model.playerids[i]" />
                            }

                            <button type="submit" class="join-btn">Join</button>
                        </td>
                    </tr>
				</tbody>
                }
            </table>
        
    </form>
}
else
{
    <p>No available lobbies to join.</p>
}
